<!DOCTYPE html>
<html>
  <head>
    <title>Thane's Book Reviews</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/landing.css" />
  </head>
  <body>
    <div>
      <h1>Thane's Book Blog</h1>
      <a href="/books"
        ><button type="button" class="btn btn-primary btn-lg btn-block my-0">
          Enter Site
        </button></a
      >
    </div>
    <% include partials/footer %>
  </body>
</html>
